@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');

ol,
ul,
menu {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #333;
  background-color: #fafafa;
  margin: 0;
}

.app-container {
  margin-left: 10px;
  margin-right: 10px;
}

.product-page {
  margin: 0 auto;

  max-width: 1440px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e2e5e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  padding: 20px;
  overflow: hidden;
}

.title-wrapper {
  margin-left: 3vw;
}

.title {
  font-size: 36px;
}
.title-wrapper .subtitle {
  font-size: 16px;
}

.slider-wrapper {
  max-width: 540px;
}
.slider-image {
  max-width: 500px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.heading {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 2px solid #e7e8ea;
  margin-bottom: 40px;
}

.main-description {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.subtitle {
  margin-top: 0;
  font-size: 20px;
}

.selectors-wrapper {
  display: flex;
  gap: 40px;
  font-size: 20px;
}

.selectors-wrapper {
  margin-bottom: 20px;
}

.color-selector,
.memory-selector {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.color-selector label,
.memory-selector label {
  margin-bottom: 10px;
  position: relative;
}

.select-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  min-width: 150px;
  font-size: 16px;
}

.price-discount {
  font-weight: 700;
  font-size: 24px;
  margin-right: 10px;
}

.price {
  font-weight: 700;
  color: #abb8c3;
  text-decoration: line-through;
}

.stock-status {
  margin: 10px 0;
}

.buttons-wrapper {
  display: flex;
  gap: 10px;
}

.add-to-cart-btn,
.buy-now-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.add-to-cart-btn {
  background-color: #333;
  color: #fff;
}

.buy-now-btn {
  background-color: #ff5733;
  color: #fff;
}

.color-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 65px;
}

.color-obsidian {
  background-color: #333333;
}

.color-peony {
  background-color: #ff6677;
}

.color-porcelain {
  background-color: #f0e5d8;
}

.color-wintergreen {
  background-color: #b5e7a0;
}

/* table */

.table-characteristics .table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.table-characteristics .table-cell {
  padding: 8px 16px;
  border-bottom: 1px solid #e0e0e0;
}

.table-characteristics .table-cell:first-child {
  font-weight: bold;
  color: #333;
}

/* buttons */

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.stock-status {
  font-size: 1rem;
  color: #4caf50;
  font-weight: 500;
}

.add-to-cart-btn,
.buy-now-btn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.add-to-cart-btn:hover,
.buy-now-btn:hover {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.add-to-cart-btn:active,
.buy-now-btn:active {
  transform: scale(0.98);
}

.buy-now-btn {
  background-color: #0077ff;
  color: white;
  gap: 8px;
  border: #0077ff 1px solid;
}

.cart-icon {
  font-size: 1.2rem;
}

.stock-status {
  font-weight: 700;
}

.add-to-cart-btn {
  background-color: transparent;
  color: #0077ff;
  border: #0077ff 1px solid;
}

.add-to-cart-btn > img {
  margin-left: 5px;
}

.description {
  padding: 0 40px;
}

.img-container {
  display: flex;
  justify-content: center;
  height: auto;
}

.img-container img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  border-radius: 50px;
}

.read-more-btn {
  font-size: 20px;
  font-weight: 500;
  background: none;
  border: none;
  color: #ff2d5b;
  border-bottom: 1px dashed #ff2d5b;
  cursor: pointer;
}

@media (max-width: 1320px) {
  .heading {
    flex-direction: column;
    align-items: center;
  }

  .title-wrapper {
    text-align: center;
  }

  .img-container img {
    max-width: 600px;
    border-radius: 40px;
  }
}
@media (max-width: 768px) {
  .product-page {
    padding: 10px;
  }
  .title {
    font-size: 26px;
  }
  .title-wrapper .subtitle {
    font-size: 14px;
  }

  .slider-wrapper {
    max-width: 440px;
  }
  .slider-image {
    max-width: 400px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .subtitle {
    font-size: 16px;
  }
  .selectors-wrapper {
    gap: 30px;
    font-size: 14px;
  }

  .price-discount {
    font-size: 20px;
    margin-right: 10px;
  }

  .price {
    font-size: 14px;
  }

  .add-to-cart-btn,
  .buy-now-btn {
    padding: 4px 4px;
    font-size: 1rem;
  }

  .table-characteristics {
    font-size: 12px;
  }

  .main-description {
    gap: 10px;
  }
}

@media (max-width: 580px) {
  .heading {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .main-description {
    flex-direction: column;
    align-items: center;
  }

  .slider-wrapper {
    max-width: 340px;
  }
  .slider-image {
    max-width: 300px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .select-input {
    font-size: 14px;
  }

  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 14px;
  }
  .product-text {
    font-size: 14px;
  }
  .img-container img {
    border-radius: 20px;
  }

  .read-more-btn {
    font-size: 16px;
    margin-top: 6px;
  }
  .description {
    padding: 0 10px;
  }
}
